body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header */
.header {
  background-color: #211f21;
}
.active {
  background-color: #fa0b77 !important;
  color: white;
  font-weight: bold;
}
.nav-link {
  border: 2px solid #fa0b77;
  border-radius: 5px;
}
.nav-link:hover {
  background-color: #fa0b77;
  color: white;
  font-weight: bold;
}
.logo {
  font-weight: bolder;
}
